<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH4qq0FBAsQsz1oKbbMWhV_Kj5VUPtJzU</string>
	<key>GCM_SENDER_ID</key>
	<string>273300004845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseBlogAppRe</string>
	<key>PROJECT_ID</key>
	<string>flutter-blog-app-aaaad</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-blog-app-aaaad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273300004845:ios:20e972683b52b75ec751e4</string>
</dict>
</plist>